<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/estilo.css">
    <title>Mirele Victória</title>
</head>
<body>

    <!--pagina inicial-->
    <img class="coracao" src="../static/assets/coracao.png" alt="">
    <div>
        <nav class="menu">
            <a>HOME</a>
            <a>SOBRE MIM</a>
            <a>PROJETOS</a>
            <a>CONTATOS</a>
        </nav>
    </div>

    <img class="foca" src="../static/assets/foca.png" alt="">
    <img class="foto" src="../static/assets/foto.png" alt="">
    <img class="nome" src="../static/assets/nome.png" alt="">
    <img class="baleias" src="../static/assets/baleias.png" alt="">


    
<!--sobre mim-->
    <img class="quemsou" src="../static/assets/quemsou.png" alt="">

    <p>Olá, eu sou Mirele Victória, e sou <br> técnica em Desenvolvimento de <br> Sistemas pelo SENAI.
        Tenho <br> interesse em aprender mais <br> sobre programação, <br> principalmente na área de Front- <br>End.
        Estou sempre em busca de <br> novos desafios e oportunidades <br> para aprimorar minhas habilidades.

    </p>

    <img class="interesses" src="../static/assets/interesses.png" alt="">
    <h2 class="musica" >Música</h2>
    <h2 class="arte" >Arte</h2>
    <h2 class="animais" >Animais</h2>
    <h2 class="tecnologia" >Tecnologia</h2>
    <img class="cavalo" src="../static/assets/cavalo.png" alt="">

    <!--habilidade-->
    <img class="narval" src="../static/assets/narval.png" alt="">
    <img class="habilidades" src="../static/assets/habilidades.png" alt="">

    <h2 class="title" >TECNOLOGIAS</h2>
    <div class="tech">
        <h3>HTML</h3>
        <h3>CSS</h3>
        <h3>JAVASCRIPT</h3>
        <h3>PYTHON</h3>
        <h3>SQLITE</h3>
        <h3>API'S</h3>
        <h3>UI E UX</h3>
        <h3>FRAMEWORK FLASK</h3>
        <h3>RESPONSIVIDADE</h3>
    </div>

    <h2 class="title2" >FERRAMENTAS</h2>
    <div class="tools">
        <h3>Canva</h3>
        <h3>Figma</h3>
        <h3>Trello</h3>
        <h3>VSCode</h3>
    </div>

    <h2 class="title3" >SOFT SKILLS</h2>
    <img class="c1" src="../static/assets/check.png" alt="">
    <img class="c2" src="../static/assets/check.png" alt="">
    <img class="c3" src="../static/assets/check.png" alt="">
    <img class="c4" src="../static/assets/check.png" alt="">
    <img class="c5" src="../static/assets/check.png" alt="">

    <div class="softskills">
        <h3>Resolução de problemas</h3>
        <h3>Criatividade</h3> 
        <h3>Adaptividade</h3>
        <h3>Pensamento crítico</h3>
        <h3>Inteligência emocional</h3>
    </div>

    <!--projetos-->

    <img class="projetos" src="../static/assets/projetos.png" alt="">

    <h3 class="text" >Conheça um pouco dos meus projetos!</h3>


    <a href="https://supertrunfo-wxip.onrender.com/" target="_blank">
        <img class="i1" src="../static/assets/supertrunfo.png"  alt="">
    </a>

    <a href="https://projeto-inovar-gtmax-2024.onrender.com/" target="_blank">
    <img class="i2" width="300px"  src="../static/assets/gtmax.png" alt="">
    </a>
    <a href="https://semicolon-5h4f.onrender.com" target="_blank">
        <img class="i3" width="300px" src="../static/assets/semicolon.png" alt="">
    </a>

    <a href="https://477h9ikc9v8p.manus.space/" target="_blank">
        <img class="i4" width="300px" src="../static/assets/chat.png" alt="">
    </a>
    <a href="https://gestcon-ygxm.onrender.com/" target="_blank">
        <img class="i5" width="300px" src="../static/assets/gestcon.png" alt="">
    </a>

    <a href="https://site-game-master-2.onrender.com" target="_blank">
        <img class="i6" width="300px" src="../static/assets/gamemaster.png" alt="">
    </a>



    <!--contatos-->
    <img class="contato" src="../static/assets/contato.png" alt="">
    <img class="contatos" src="../static/assets/contatos.png" alt="">
    <h3 class="text2">Me contate =)</h3>
    <img class="redes" src="../static/assets/redes.png" alt="">
    <a class="linkedin" href="https://www.linkedin.com/in/mirele-vict%C3%B3ria-santos-sousa-7aa116379/" target="_blank">Mirele</a> 
    <h3 class="email" >mirelevictoria08@gmail.com</h3>
    <a class="github" href="https://github.com/Mvictoria218" target="_blank">Mvictoria218</a>
    <h3 class="local" >São Paulo - Brasil</h3>

    <img class="golfinho" src="../static/assets/golfinho.png" alt="">

    <form action="https://formspree.io/f/myzpoqzn" method="POST">
        <input type="text" name="name" placeholder="Seu nome:" required>
        <input type="email" name="email" placeholder="Seu email:" required>
        <textarea cols="30" rows="10" name="message" placeholder="Mensagem:" required></textarea>
        <button type="submit">Enviar</button>

    </form>
      

    <!--rodapé-->
     <footer>
        copyright &copy; Todos os direitos reservados 2025.|Desenvolvido por Mirele Victória
     </footer>
</body>
</html>
